.surv-meter {
    width: 100%;
    display: block;
    height: 30px;
    border-radius: 1px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.4), inset 0 0 0 1px rgba(0,0,0,.1);
    background: #f9f9f9;
    text-align: center;
}

.surv-meter-bar.surv-meter-filled {
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.05);
    background: linear-gradient(to bottom,#4ed95f,#389244);
    background-color: #52b666;
}

input[type='radio']{
    margin-right: 15px;
    background-color: #000000;
}
.statbox{
    display: flex;
}
.answercount{
    float:right;
    margin-left: 10px;
}

label.answer-option{
    width: 80%;
    word-wrap: break-word;
    margin-left: 5px;
}

label.answer {
    width: 80%;
    margin-left: 5px;
}

.ergebnis{
    margin-top: 3%;
    font-weight: bold;
}


.question-box{
    margin-left: 20px;
    margin-bottom: 40px;
}


.buttonbox{
    margin-top: 25px;
    margin-left: 20px;
}

.firstbox{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container_intro{
    margin-top: 25px;
    padding-left: 70px;
    font-weight: 300;
    text-align: left;
}

.ig{
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    width: 50px;
}

title_box{
    font-size: 30px;
}

.total_ans{
    float: right;
    margin-top: 20px;
    font-weight: 300;
    margin-left: 0px;
}


.buttonbox{
    margin-top: 25px;
    margin-left: 20px;
}

.antwort_statistik{
    flex-direction: row-reverse;
    margin-top: 20px;
        margin-left: 10px;
    margin-bottom: 20px;
}

.text{
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bolder;
}

.border{
    margin-top: 20px;
    width: 80%;
}

.total_ppl{
    float: left;
    font-weight: 300;
}

.backgroundbox{
    margin-bottom: 15px;
}

.answer-div{
    display: block;

}

.scalatest{
    font-weight: 300;
    font-size: 25px;
    margin-top: 20px;
    font-weight: bolder;
}